<html>
<head><link rel="stylesheet" type="text/css" href="../css/firstwebpage.css"></head>
	<body >
		<img style="height: 350px; width: 98%; margin:1%"src="/img/homepage.jpg" alt="111"/>
		<div class="home_page">Lorem Ipsum is simply dummy text of the printing and typesetting 
		industry. Lorem Ipsum has been the industry's standard dummy text ever 
		since the 1500s, when an unknown printer took a gallery of type and 
		scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting 
		industry. Lorem Ipsum has been the industry's standard dummy text ever 
		since the 1500s, when an unknown printer took a gallery of type and 
		scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting 
		industry. Lorem Ipsum has been the industry's standard dummy text ever 
		since the 1500s, when an unknown printer took a gallery of type and 
		scrambled it to make a type specimen book1111.
		</div>
	</body>
</html>